// Navigation Styles here
/*.logonav {
    margin: 0 auto;
    width: 95%;
    padding: 1% 30%;
    display: flex;
    justify-content: space-between;
  .buslogo {
      width: 30%;
      display: flex;
      justify-content: space-around;

}
}
*/
    nav {
        display: flex;
        width: 40%;
        justify-content: space-around;
        margin: 3% 2%;
        font-size: 150%;
        
    
    @media @mobile {
        width: 90;
        margin-bottom: 0%;
     }
    }