// Navigation Styles here
.logonav {
    margin: 0 auto;
    width: 95%;
    padding: 1% 30%;
    display: flex;
    justify-content: space-between;
  .buslogo {
      width: 30%;
      display: flex;
      justify-content: space-around;

}

    nav {
        width: 50%;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: @font-color;
            display: flex;
        }
    }
    @mobile {
        margin: 0 2%;
        display: flex;
        flex-direction: column;
    }
}